<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <fieldset>
      <%= form_for user, :html => {:class => 'form-stacked'} do |f| %>
        <% if user.errors.any? %>
          <div class="alert-message block-message error">
            <p><%= "#{pluralize(user.errors.count, "problem")} with your registration:" %></p>
            <div class="errors">
              <% user.errors.full_messages.each do |msg| %>
                <p><%= msg %></p>
              <% end %>
            </div>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.label :first_name %>
          <div class="input">
            <%= f.text_field :first_name, :class => "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :last_name %>
          <div class="input">
            <%= f.text_field :last_name, :class => "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :email %>
          <div class="input">
            <%= f.text_field :email, :class => "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <% if defined? editing %>
            <span class="help-block">Leave blank to keep your current password</span>
          <% end %>
          <%= f.label :password %>
          <div class="input">
            <%= f.password_field :password, :class => "form-control" %> 
          </div>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %>
          <div class="input">
            <%= f.password_field :password_confirmation, :class => "form-control" %>
          </div>

        </div>
      
        <div class="actions">
          <%= f.submit((defined?(editing) ? "Update" : "Register"), :class => "btn btn-primary") %>
        </div>
      <% end %>
    </fieldset>
    <br /> 
  </div>
</div>