<% if current_user.admin? %> 
	<% if @users.exists? %> 
		<div class="row"> 
			<div> 
				<table class="table table-striped table-bordered"> 
					<thead> 
						<tr> 
							<th>Name</th> 
							<th>Email</th> 
							<th></td> 
						</tr> 
					</thead> 
					<tbody> 
					<% @users.each do |user| %> 
						<tr> 
							<td><%= user.full_name %></td> 
							<td><%= user.email %></td> 
							<td><%= link_to "Delete", user, method: :delete, data: { confirm: "Are you sure?" } %> </td> 
						</tr> 
					<% end %> 
					</tbody> 
				</table> 
			</div> 
		</div> 
	<% end %> 
	<p>
		<%= link_to "New User", new_user_path, :class => "btn btn-primary" %>
	</p> 
<% else %> 
	<p>You do not have permisssions to view that page</p> 
<% end %> 