<% if current_user.admin? %> 
	<div class="page-header">
	  <h1>Register</h1>
	</div>

	<%= render :partial => 'users/form', :locals => {:user => @user} %>
<% else %> 
	<p>You do not have permisssions to view that page</p> 
<% end %> 


