<p id="notice"><%= notice %></p>
<div class="row"> 
	<div class="col-md-4 col-md-offset-4"> 
		<h2>Profile</h2> 
		<p>
		  <strong>First name:</strong>
		  <%= @user.first_name %>
		</p>

		<p>
		  <strong>Last name:</strong>
		  <%= @user.last_name %>
		</p>

		<p>
		  <strong>Email:</strong>
		  <%= @user.email %>
		</p>




		<%= link_to 'Edit', edit_user_path(@user) %> 
	</div> 
</div> 