body{
	font-family:'Georgia', 'Arial', sans-serif;
}

.navbar { min-height:38px;margin-bottom:20px !important; border-radius:0;}
.navbar .navbar-brand{ padding: 0 12px;font-size: 16px;line-height: 38px;height: 38px; }
.navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 38px; color:#fff;}
.navbar .navbar-toggle {  margin-top: 3px; margin-bottom: 0px; padding: 8px 9px; }
.navbar .navbar-form { margin-top: 2px; margin-bottom: 0px }
.navbar .navbar-collapse {border-color: #A40303;}

h1, h2{
	border-left:5px #666 solid;
	border-bottom: 1px #666 solid;
	padding: 0 0 5px 10px;
	margin-bottom:30px;
}

#gallery img{
	width:100%;
}

.col-md-3{
	padding:0;
}

#edit_images{
	margin-bottom: 10px; 
}

#edit_images img {
	width: 100%; 
}

.delete {
	color: red; 
}

footer{
/*	margin-top:30px;
	height:40px;
	background:#333;
	*/ 
	color:#fff;
	text-align: center;
	padding-top:10px;
}

.photo{
	text-align: center;
	position:relative;
}


.photo,
.photo-hover,
.photo-hover .mask,
.photo-img,
.photo-info{
	width:293px;
	height:220px;
}


/* this is working but distorting the imagess */ 
img {
	width: 293px;
	height:220px; 
}

.photo-img,
.photo-hover,
.photo-hover .mask{
	position:absolute;
	top:0;
	left:0;
}

.photo-type-line .photo-hover{
	z-index:100;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	opacity:0;
	cursor:pointer;
	display:block;
	text-decoration: none;
	text-align: center;
}

.photo-type-line .photo-info{
	z-index: 10;
	color:#fff;
	display:table-cell;
	vertical-align: middle;
	position: relative;
}

.photo-type-line .photo-info .headline{
	font-size:20px;
}

.photo-type-line .photo-info .line {
	 height:1px;
	 width:0%;
	 margin:15px auto;
	 background-color:#ffffff;
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-o-transition: all 500ms ease-out;
	transition: all 500ms ease-out;					 

}

.photo-type-line .photo-hover .mask{
	background:#000;
	filter:alpha(opacity=50);
	opacity:0.5;
	z-index:0;
}

.photo-type-line .photo-hover:hover .line{
	width:40%;
}

.photo-type-line .photo-hover:hover{
	opacity:1;
}

.photo-img{
	background:#000000;
	z-index:0;
}

.headline {
	color: #FFFFFF; 
}

.desc {
	color: #FFFFFF; 
}

body {
	margin:0 !important;
	padding:0 !important;
	height:100% !important;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	padding:10px;
}
#content {
	padding-bottom:100px !important; /* Height of the footer element */
}
#footer {
	background:#000; 
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
	color:#fff;
	text-align: center;
}