<h1>Log In</h1>

 


<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_tag user_sessions_path do %>

				<div class='form-group'>
					<div class="input"> 
					<%= text_field_tag :email, params[:email], class: 'form-control', :placeholder => "Email Address"  %> 
					</div> 
				</div> 
		 
				<div class='form-group'> 
					<div class="input"> 
					<%= password_field_tag :password, "", placeholder: "Password", class: 'form-control' %> 
					</div> 
				</div> 
		

			<%= submit_tag "Log In", class: "btn btn-lg btn-primary" %> 
			<%= link_to "Forgot Password", new_password_reset_path %> 
		<% end %> 
	</div>
</div>




