<h2>Upload Image</h2> 

<%= form_for @image, :html => {:multipart => true} do |f| %>
	<!-- Check for errors --> 
	<% if @image.errors.any? %> 
		<% @image.errorrs.full_messages.each do |msg| %> 
			<!-- Show errors --> 
			<div class="alert alert-danger"><%= msg %></div> 
		<% end %> 
	<% end %> 

	<div class="form-group"> 
		<%= f.label :image_title %> 
		<%= f.text_field :image_title , class: 'form-control' %> 
	</div> 

	<div class="form-group"> 
		<%= f.label :category %> 
		<%= f.select :category_id, Category.all.collect {|x| [x.name, x.id]}, {
			:include_blank => 'Select One'}, class: 'form-control' %> 
	</div> 

	<div class="form-group"> 
		<%= f.label :image_description %> 
		<%= f.text_area :image_description, class: 'form-control' %>
	</div> 

	<div class="form-group">
		<%= f.label :image %> 
		<%= f.file_field :image %> 
	</div> 

	<div class="form-group"> 
		<%= f.label :remote_image_url, 'or image url' %> 
		<%= f.text_field :remote_image_url, class: 'form-control' %> 
	</div> 
	<br> 

	<%= f.submit "submit", class: 'btn btn-primary' %> 
	<%= link_to "Cancel", images_path, class: 'btn btn-default' %> 
<% end %> 
