<!DOCTYPE html>
<html>
<head>
  <title>Chip Duffield Photos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="wrapper"> 
   
      <nav class="navbar navbar-inverse" role="navigation">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Chip's Photo Gallery</a>
              </div>
              <div id="navbar" class="collapse navbar-collapse">
                <% if logged_in? %> 
                  <ul class="nav navbar-nav">
                    <li><%= link_to "Home", root_path %></li>
                    <% @categoryNav.each do |category| %>
                    	<li><%= link_to category.name, category_path(category.id) %></li>
                    <% end %>
                  </ul>
                <% end %> 
                <ul class="nav navbar-nav pull-right">
                  <% if logged_in? %> 
                    <% if current_user.admin? %> 
                      <li><%= link_to "Upload Photo", upload_path %></li>
                      <li><%= link_to "Add Category", new_category_path %></li>
                    <% end %> 
                    <li class="dropdown">
                    <a href='#' class="dropdown-toggle" data-toggle="dropdown">
                      Account <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Profile", current_user %></li>
                      <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                      <% if current_user.admin? %> 
                        <li><%= link_to "Manage Users", users_path %></li> 
                      <% end %> 
                      <li class="divider"></li>
                      <li><%= link_to "Log Out", logout_path, method: :delete %></li>
                    </ul>
                    </li> 
                  <% end %> 
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </nav>


    <div id="content"> 
        <section >
          <div class="container">
          	<!-- Alerts & Messages -->
            <% if flash[:notice] %>
              <div class="alert alert-success"><%= flash[:notice] %></div>
            <% end %>

            <% if flash[:alert] %>
              <div class="alert alert-danger"><%= flash[:alert] %></div>
            <% end %>
            <%= yield %>
          </div><!-- /.container -->
        </section>
      </div> 

<!--     <div id="footer">  
  
            <p>Copyright &copy; 2015, Chip Duffield</p>

    </div>  -->
  </div> 
</body>
</html>
